.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
}

.caixa1 {
    background-color: rgba(137, 43, 226, 0.473);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    }

.caixa2 {
    background-color: chartreuse;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: black;
    color: white;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}