@charset "UTF-8"; 

/* Typical device breakpoints 
------------------------------
bom rever essas poha depois
------------------------------
 Pequenas telas = até 600px
 Celular = 601px até 768px
 Tablets = 768px até 992px
 Desktop = 993 até 1200px
 Grandes telas = acima de 1200px
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário*/
    }

    main {
        border: 2px solid black;
        background-color: lightgray;
    }

    h1 {
        text-shadow: none;
        color: black;
    }

    img#cel { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#cel { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    }

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#cel { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#cel { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
    img#tablet { display: none; }
    img#print { display: none; }
}