@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: rgb(6, 44, 126);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    text-shadow: 4px 2px 6px rgb(220, 224, 13);
    padding: 10px;
}